<section id="footer">
 <div class="row">
  <div class="col-md-4 col-md-offset-4 col-sm-12">
    <div class="form-group">
    	<input class="form-control text-center" type="text" name="newsletter" id="newsletter-input" placeholder="Enter your email"><button class="btn" id="newsletter-btn">Subscribe</button>
    </div>
  	
  </div> 
 	
 </div>

 <div class="row">
   <div class="col-md-10 col-md-offset-1 col-sm-12">
       <div class="col-md-3 col-sm-12">
     <ul >
        <p class="footer-title">Join the Community</p>
     	<li class="li-footer"><a href="#" class="footer-link">Teams</a></li>
     	<li class="li-footer"><a href="#" class="footer-link">Forums</a></li>
        <li class="li-footer"><a href="#" class="footer-link">Affiliates</a></li>
        <li class="li-footer"><a href="#" class="footer-link">Upcoming Events</a></li>

     <ul>   	
   </div>
   <div class="col-md-3 col-sm-12">
     <ul >
        <p class="footer-title">Discover and Shop</p>
     	<li class="li-footer"><a href="#" class="footer-link">Gift Cards</a></li>
     	<li class="li-footer"><a href="#" class="footer-link">Blog</a></li>
        <li class="li-footer"><a href="#" class="footer-link">Treasury</a></li>
        <li class="li-footer"><a href="#" class="footer-link">Mobile Apps</a></li>
        <li class="li-footer"><a href="#" class="footer-link">Wholesale</a></li>

     <ul>   	
   </div>
    <div class="col-md-3 col-sm-12">
     <ul >
        <p class="footer-title">Get to know us</p>
     	<li class="li-footer"><a href="#" class="footer-link">About </a></li>
     	<li class="li-footer"><a href="#" class="footer-link">Policies</a></li>
        <li class="li-footer"><a href="#" class="footer-link">Careers</a></li>
        <li class="li-footer"><a href="#" class="footer-link">Press</a></li>
        <li class="li-footer"><a href="#" class="footer-link">Developers</a></li>

     <ul>   	
   </div>

   <div class="col-md-3 col-sm-12">
     <ul >
        <p class="footer-title">Join the Community</p>
     	<li class="li-footer"><a href="#" class="footer-link">Gift Cards</a></li>
     	<li class="li-footer"><a href="#" class="footer-link">Blog</a></li>
        <li class="li-footer"><a href="#" class="footer-link">Treasury</a></li>
        <li class="li-footer"><a href="#" class="footer-link">Mobile Apps</a></li>
        <li class="li-footer"><a href="#" class="footer-link">Mobile Apps</a></li>

     <ul>   	
   </div>
   	
   </div>
 


 	
 </div>
	
</section>